body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(62, 10, 118);

}

h1 {
    font-size: 15rem;
    font-family: Monserrat;
}

.letter {
    transition-color: color 1000ms;
}